<h2><span class="glyphicon glyphicon-user"></span> My Boards</h2>

<% boards.each(function(board) { %>
	<a href="#boards/<%= board.id %>">
		<div class="board-container">
			<%= board.escape('title') %>
		</div>
	</a>
<% })%>

<div class="new-board toggle-form">
	Add board...
</div>

<div class="new-board" style="display:none">
	<form class="form">
		<input type="text" class="form-control" 
			name="board[title]"
      id="board-title"
			placeholder="Enter title..." />

		<button class="create-board btn btn-success pull-right">Create</button>
  	<button class="cancel-board btn btn-danger pull-right">Cancel</button>
	</form>
</div>