<div class="container">

<h1><%= board.escape("title") %></h1>

<div class="lists"></div>
<div class="list-new"></div>

<br>

<a href="#/">Back to Index</a>

</div>

<!-- <ul id="sortable">
  <% board.lists().each(function (list) { %>
    <li>
      <%= list.escape('title') %>
    </li>
  <% }); %>
</ul> -->

<!-- // <script>
// $(function() {
//   $( "#sortable" ).sortable();
//   $( "#sortable" ).disableSelection();
// });
// </script> -->