<h2 class="list"><%= board.escape("title") %></h2>

<div class="list-show"></div>
<div class="list-new"></div>

<br>

<a href="#/">Back to Index</a>

<!-- <ul id="sortable">
  <% board.lists().each(function (list) { %>
    <li>
      <%= list.escape('title') %>
    </li>
  <% }); %>
</ul> -->

<!-- // <script>
// $(function() {
//   $( "#sortable" ).sortable();
//   $( "#sortable" ).disableSelection();
// });
// </script> -->