<div class="col-xs-12 col-md-3">
  <div class="thumbnail" data-id="<%= list.id %>">
    <h4><%= list.escape("title") %>  <button class="delete-list btn pull-right btn-danger btn-xs" data-id="<%= list.id %>">Delete</button></h4>
    
    <div class="cards-show"></div>
    
    <div class="new-card card-add toggle-form">Add a card...</div>
  	
    <form role="form" class="new-card toggle-form" style="display:none">
      <div class="form-group">
        <label class="sr-only" for="card-title">Title</label>
    		<input type="text" class="form-control" 
    			name="card[title]"
          id="card-title" />
      </div>
  	</form>
    
    <button class="create-card btn btn-success new-card" style="display:none">Create</button>
	  
    <button class="cancel-card btn btn-danger new-card" style="display:none">Cancel</button>
  
  </div>
</div>